alembic==1.4.3
arrow==0.17.0
bcrypt==3.2.0
blinker==1.4
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cli-helpers==2.1.0
click==7.1.2
configobj==5.0.6
cryptography==3.2.1
Faker==4.15.0
Flask==1.1.2
Flask-Cors==3.0.9
Flask-Mail==0.9.1
flask-marshmallow==0.14.0
Flask-Migrate==2.5.3
Flask-MySQLdb==0.2.0
flask-request-validator==2.1.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
google-auth==1.23.0
google-auth-httplib2==0.0.4
gunicorn==20.0.4
httpie==2.3.0
httplib2==0.18.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
Mako==1.1.3
MarkupSafe==1.1.1
marshmallow==3.9.1
mycli==1.22.2
mysql==0.0.2
mysql-connector-python==8.0.22
mysqlclient==2.0.1
Pillow==8.0.1
prompt-toolkit==3.0.8
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.7.2
PyJWT==1.7.1
PyMySQL==0.10.1
PySocks==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
requests==2.25.0
requests-toolbelt==0.9.1
rsa==4.6
six==1.15.0
SQLAlchemy==1.3.20
sqlparse==0.3.1
svgwrite==1.4
tabulate==0.8.7
terminaltables==3.1.0
text-unidecode==1.3
Tree==0.2.4
urllib3==1.26.2
wcwidth==0.2.5
Werkzeug==1.0.1
WTForms==2.3.3
xlsxwriter~=1.3.7
boto3~=1.16.30
schedule~=0.6.0